@import "../fonts/arial.css";

$mainFont: Arial;

$mainFontHeavy:900;

$mainFontSize: 30px;
$secFontSize: 18px;
$thirdFontSize: 22px;


// requires position relative
$secFontBaseLineShift: $secFontSize/8;

$mainBackground: ghostwhite;

$mainBackgroundGrey: darkgrey;

// $mainBackgroundPink: pink;
// $mainBackgroundPink: mistyrose;
$mainBackgroundPink: #ffe5e9;

$mainBackgroundBlack: #424242;


$mainHeaderHeight: 40px;

$mainPadding: 20px;

$mainBorderStyle: 1px solid $mainBackgroundBlack;

// helpers

.uppercase{
  text-transform: uppercase;
}

*{
  font-family: $mainFont;
  box-sizing: border-box;
  // color: $mainBackgroundBlack;
}

body,html{
  background: $mainBackground;
}
